body{
    background-color: rgb(109, 109, 109);
    color: rgb(255, 255, 255);
    font-style: italic;
    max-width: 75%;
    text-align: center;
    padding-left: 10%;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
main{
    background-color: rgb(68, 68, 68);
    max-width: 30%;
   
    border-radius: 25%;
    margin-inline-start: 35%;
}